:root {
    --primary-color: #093064;
    --secondary-color: #093064;
    --background-color: #f0f0f0;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    font-family: monospace;
    font-size: 1rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #093064;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

header img {
    max-height: 50px;
    margin-left: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 120px auto 20px;
    max-width: 900px;
    border-radius: 5px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: #fff;
}

table img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
}

h3 {
    margin-left: 180px;
}